<!DOCTYPE html>
<html>
<head>

 <title>title</title>
</head>
<body>
<h1>You got...Forever 21!!!
 </h1>
 <br>

<a href = "https://www.forever21.com/us/shop">
 <img src="https://fontmeme.com/images/Forever-21-Logo.gif
"
" alt= "forever 21" width = 425 height = 405>
</a>
 <h2> Be with the trends while finding the perfect look for you!
  </h2>
</body>
</html>