<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel = "stylesheet" href = "stylesheets/quiz_answers.css">
</head>
<body>
<h1>You got... H+M!!!
  </h1>
  <br>
  <a href = http://www2.hm.com/en_us/index.html#modal-1>
  <img src="http://www.hm.com/entrance/entrance-assets/static/site/img/choosecountry/HM-Share-Image.jpg
http://www.hm.com/entrance/entrance-assets/static/site/img/choosecountry/HM-Share-Image.jpg
" alt="H+M picture" width = 800>
  </a>
  <h2> You will love these preppy clothes at an affordable price! Perfect for you and your wallet!
   </h2>
</body>
</html>