<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel = "stylesheet" href = "stylesheets/quiz_answers.css">
</head>
<body>
<h1>You got... J. Crew!!!
  </h1>
  <br>
  <a href = https://www.jcrew.com>
  <img src="https://i.forbesimg.com/media/lists/companies/j-crew_416x416.jpg
https://i.forbesimg.com/media/lists/companies/j-crew_416x416.jpg
" alt="J. Crew picture" width = 316>
  </a>
  <h2> You will love these preppy clothes at J. Crew! Their reasonable priced clothing is the perfect match for you!
   </h2>
</body>
</html>