<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel = "stylesheet" href = "stylesheets/quiz_answers.css">
</head>
<body>
<h1>You got...Nike and Adidas!!!
  </h1>
  <br>
  <a href = "https://www.nike.com/us/en_us/">
  <img src="https://timedotcom.files.wordpress.com/2015/06/nike-logo.jpg" width = 375>

<a href = "https://www.adidas.com/us">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Adidas_Logo.svg/2000px-Adidas_Logo.svg.png" width = 416>
</a>
  <h2> Be comfortable AND stylish for the price of one!
   </h2>
</body>
</html>