<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel = "stylesheet" href = "stylesheets/quiz_answers.css">
</head>

<body>
<h1>You got...Gap and Old Navy!!!
  </h1>
  <br>
  <a href = "https://www.gap.com/">
  <img src="https://i.forbesimg.com/media/lists/companies/gap_416x416.jpg
https://i.forbesimg.com/media/lists/companies/gap_416x416.jpg
" alt="GAP picture">

<a href = "https://www.oldnavy.com/">
  <img src="https://yt3.ggpht.com/a-/ACSszfGBKRS1oAjKOwgp6pCCAqOLeTMRc_WvOnwzog=s900-mo-c-c0xffffffff-rj-k-no
https://yt3.ggpht.com/a-/ACSszfGBKRS1oAjKOwgp6pCCAqOLeTMRc_WvOnwzog=s900-mo-c-c0xffffffff-rj-k-no
" alt= "old navy" width = 416 height = 416>
</a>
  <h2> You will love these casual clothes at an affordable price! Perfect for you and your wallet!
   </h2>
</body>
</html>