<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel = "stylesheet" href = "stylesheets/quiz_answers.css">
</head>
<body>
<h1>You got... Ralph Lauren!!!
  </h1>
  <br>
  <a href = https://www.ralphlauren.com>
  <img src="http://1000logos.net/wp-content/uploads/2017/06/emblem-Ralph-Lauren.jpg" alt="Ralph Lauren picture" width = 1014>
  </a>
  <h2> You will love these preppy clothes at Ralph Lauren! Based on your selections, this is the perfect brand for you!
   </h2>
</body>
</html>