<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel = "stylesheet" href = "stylesheets/quiz_answers.css">
</head>
<body>
<h1>You got... Urban Outfitters!!!
  </h1>
  <br>
  <a href = https://www.urbanoutfitters.com>
  <img src="https://www.shopirvinecompany.com/media/4445/store-logo-urbanoutfitters.png" alt="Urban Outfitters picture" width = 396>
  </a>
  <h2> Based on your trendy style and price range, Urban Outfitters is the perfect brand for you!
   </h2>
</body>
</html>