<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel = "stylesheet" href = "stylesheets/quiz_answers.css">
</head>
<body>
<h1>You got... Zara!!!
  </h1>
  <br>
  <a href = https://www.zara.com/us/>
  <img src="http://universityobserver.ie/wp-content/uploads/2016/09/Zara-Logo.jpg" alt="Zara picture" width = 520>
  </a>
  <h2> Based on your trendy style and price range, Zara is the perfect brand for you!
   </h2>
</body>
</html>